<app-header></app-header>
<h1>Lazy Loading component</h1>
<div>{{name}}</div>
<h1>User Routing</h1>
<ul>
    <li>
        <a routerLink="users/login">Login</a>
    </li>
    <li>
        <a routerLink="users/signup">Signup</a>
    </li>
    <li>
        <a routerLink="users/list">List</a>
    </li>
</ul>
<h1>Admin Routing</h1>
<ul>
    <li>
        <a routerLink="admin/login">Admin Login</a>
    </li>
    <li>
        <a routerLink="admin/list">Admin List</a>
    </li>
</ul>
<router-outlet></router-outlet>

<button (click)="loadAdmin()">Load Admin Component</button>
<button (click)="loadUser()">Laod User Component</button>
<br><br>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <input type="text" name="email"ngModel/>
    <br><br>
    <input type="password" name="password" ngModel/>
    <br><br>
    <button type="submit">Login</button>
</form>


<app-footer></app-footer>
